:root{
    --color-bg: #dfe7fb; 
    --secondary-color: #2a5ada;
}

#back{
    color: black;
}

header{
    background-image: url("../../img/chainlink.png");
    background-size: 14vh;
}

#btn-main{
    border: 2px solid  var(--secondary-color);
}

#btn-main:hover{
    transition-duration: 0.2s;
    background-color:  var(--secondary-color);
}