:root{
    --color-bg: #ffe3d3; 
    --secondary-color: #aba0fd;
}

#back{
    color: black;
}

header{
    background-image: url("../../img/ethereum.png");
    background-size: 8vh;
}

