*{
    margin: 0;
    padding: 0;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    overflow-x: hidden;
}

body{
    width: 100vw;
    background-color: var(--color-bg);
}

body::-webkit-scrollbar {
    width: 5px;      
}
body::-webkit-scrollbar-track {
    background: var(--color-bg);          
}
body::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);   
    border-radius: 20px;      
}

#back{
    position: sticky;
    background-color: transparent;
    padding: 10px;
    margin: 40px;
    border-radius: 6px;
    font-size: 20px;
    width: 5vw;
    border: none;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.212), -2px 0px 5px rgba(0, 0, 0, 0.11);
}

#back:hover{
    transition-duration: 0.2s;
    box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.11), -2px 0px 20px rgba(0, 0, 0, 0.185);
}

header{
    width: 70%;
    height: 17vh;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
}

main{
    width: 70%;
    margin: auto;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.11);
    border-radius: 3px;
    padding-top: 2vh;
    background-color: aliceblue;
}

#group-btn-main{
    text-align: center;
    padding-bottom: 1vh;
}

#btn-main {
	background-color: transparent;
    height: 5vh;
    width: 10vw;
    border-radius: 3px;
    font-size: 20px;
    border: 2px solid var(--color-bg);
    margin-bottom: 2vh;
}

#btn-main:hover{
    transition-duration: 0.2s;
    background-color:  var(--color-bg);
}

article{
    padding: 40px;
    padding-top: 10px;
}

#studies{
    font-size: 20px;
    text-align: center;
    margin-bottom: 2vh;
}

#subTitle{
    border: 1px solid var(--color-bg);
}

span{
    display: block;
    padding: 10px;
    padding-left: 50px;
}

h2{
    margin-bottom: 1vh;
    font-size: 30px;
}

h3{
    padding: 10px;
    font-size: 50px;
    text-align: center;
    margin-top: 1vh;
}

h4{
    padding-top: 40px;
    font-size: 30px;
    font-weight: 300;
    color: var(--secondary-color);
}

p{
    padding-top: 20px;
    padding-left: 10px;
    font-size: 20px;
}

#code{
    border-radius: 6px;
    box-shadow:inset 2px 0px 10px rgba(0, 0, 0, 0.089);
}

a{
    color: var(--secondary-color);
}

#imgArticle{
    display:block;
    margin:auto;
    margin-top: 4vh;
    margin-bottom: 2vh;
}