:root{
    --color-bg: #f7e018; 
    --secondary-color: #414339;
}

#back{
    color: black;
}

header{
    background-image: url("../../img/javascript.png");
    background-size: 15vh;
}

