:root{
    --color-bg: #ffffff; 
    --secondary-color: #f68614;
}

#back{
    color: black;
}

header{
    background-image: url("../../img/metamask.png");
    background-size: 15vh;
}

#btn-main{
    border: 2px solid  var(--secondary-color);
}

#btn-main:hover{
    transition-duration: 0.2s;
    background-color:  var(--secondary-color);
}