
body{
    padding-top: 15vh;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    text-align: center;
}

#welcome{
    margin-bottom: 2vh;
    font-size: 10vh;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

#msg{
    margin-bottom: 2vh;
    font-size: 2vh;
    font-weight: 600;
    color: rgb(116, 116, 116);
    /*color: rgb(122, 122, 122);*/
}

#whitepaper-pineberry{
    color: rgb(36, 36, 36);
    font-weight: 600;
}

#Go{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    border-radius: 3px;
    background-color: transparent;
    color: rgb(104, 104, 104);
    box-shadow:inset 0px 0px 5px #0f0f0f0c,inset -0px -2px 20px #11111110;
    border: none;
    height: 5vh;
    width: 7vw;
    font-size: 1.5vh;
    font-weight: 600;
    cursor: pointer;
}

#Go:hover{
    transition-duration:1s;
    box-shadow:inset 0px 0px 5px #0f0f0f00,inset -0px -2px 20px #11111100;
}