* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main{
    width: 100vw;
}

.imgs{
    width:12.5%; 
    height:100vh; 
    position:absolute;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.274);
}
.imgs:hover{
    width:18.75%;  transition-duration: 0.5s;
}

#img0{ animation: img0; animation-duration: 0.5s; margin-left:0%; background-color: #ffffff; background-size: 80%; }
@keyframes img0 {
    from {
        margin-left:-12.5%;
    }
    to {
        margin-left:0vw;
    }
}

#img1{ animation: img1; animation-duration: 0.5s; margin-left:12.5%; background-color: #f7e018; background-size: 80%; }
@keyframes img1 {
    from {
        margin-left:-12.5%;
    }
    to {
        margin-left:12.5%;
    }
}
#img2{ animation: img2; animation-duration: 1s; margin-left:25%; background-color: #e7f2fa; background-size: 130%; }
@keyframes img2 {
    from {
        margin-left:-12.5%;
    }
    to {
        margin-left:25%;
    }
}
#img3{ animation: img3; animation-duration: 1.5s; margin-left:37.5%; background-color: #ffe3d3; background-size: 55%;}
@keyframes img3 {
    from {
        margin-left:-12.5%;
    }
    to {
        margin-left:37.5%;
    }
}
#img4{ animation: img4; animation-duration: 2s; margin-left:50%; background-color: #3fe0c5; background-size: 80%; }
@keyframes img4 {
    from {
        margin-left:-12.5%;
    }
    to {
        margin-left:50%;
    }
}
#img5{ animation: img5; animation-duration: 2.5s; margin-left:62.5%; background-color: #3a3a55; background-size: 70%; }
@keyframes img5 {
    from {
        margin-left:-12.5%;
    }
    to {
        margin-left:62.5%;
    }
}
#img6{ animation: img6; animation-duration: 3s; margin-left:75%; background-color: #dfe7fb; background-size: 80%; }
@keyframes img6 {
    from {
        margin-left:-12.5%;
    }
    to {
        margin-left:75vw;
    }
}
#img7{ animation: img7; animation-duration: 3.5s; margin-left:87.5%; background-color: #0190ff; background-size: 100%; }
@keyframes img7 {
    from {
        margin-left:-12.5%;
    }
    to {
        margin-left:87.5%;
    }
}